<%def name="format_date(date)">
    % if isinstance(date, str):
        ${date}
    % else:
        ${date.strftime('%Y %b')}
    % endif
</%def>

<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/b670e08959.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=${cv.theme.primary_font}|${cv.theme.secondary_font}">
    <link rel="stylesheet" href="cv.css">

    <title>${cv.headline.name}</title>

    % if cv.metadata and cv.metadata.website:
    <meta property="og:title" content="${cv.headline.name}" />
    <meta property="og:description" content="${cv.headline.tagline}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="${cv.metadata.website}/${card_path}" />
    <meta property="og:url" content="${cv.metadata.website}" />
    <meta property="og:image:type"  content="image/png" />
    <meta property="og:image:width"  content="1200" />
    <meta property="og:image:height"  content="630" />

    <meta name="twitter:card"  content="summary_large_image" />
    <meta name="twitter:title"  content="${cv.headline.name}" />
    <meta name="twitter:description"  content="${cv.headline.tagline}" />
    <meta name="twitter:image" content="${cv.metadata.website}/${card_path}" />
    % endif
</head>

<body>

<div class="cv-banner">
    <%include file='metadata.html'/>
</div>

<main class="cv-page">

<div class="cv-page-intro">
    <%include file='headline.html'/>
</div>

<div class="cv-page-content">
    <%include file='competences.html'/>
    <%include file='experiences.html'/>
    <%include file='projects.html'/>
    <%include file='education.html'/>
</div>

</main>
</body>

</html>
