<section class="cv-headline">

    <div class="cv-headline-info">
        <h1 class="cv-headline-name">${cv.headline.name}</h1>
        <h2 class="cv-headline-tagline">${cv.headline.tagline}</h2>
        <p class="cv-headline-summary">${cv.headline.summary}</p>
    </div>

    <div class="cv-headline-contacts">

        <a href="https://www.linkedin.com/in/${cv.headline.linkedin}/">
            <i class="fa-brands fa-linkedin"></i>
            <text>${cv.headline.linkedin}</text>
        </a>
        <a href="https://github.com/${cv.headline.github}">
            <i class="fa-brands fa-github"></i>
            <text>${cv.headline.github}</text>
        </a>
        <a href="${cv.headline.website}">
            <i class="fa-brands fa-firefox-browser"></i>
            <text>${cv.headline.website.replace("https://", "")}</text>
        </a>
        <span>
            <i class="fa-solid fa-mobile"></i>
            <text>${cv.headline.phone}</text>
        </span>
        <span>
            <i class="fa-solid fa-envelope"></i>
            <text>${cv.headline.email}</text>
        </span>
        <span>
            <i class="fa-solid fa-location-dot"></i>
            <text>${cv.headline.address}</text>
        </span>
        % if cv.metadata and cv.metadata.website:
        <a href="${cv.metadata.website}">
            <i class="fa-solid fa-link"></i>
            <text>${cv.metadata.website.replace("https://", "")}</text>
        </a>
        % endif

    </div>
</section>