/*
##############################################################################
CSS Variables
##############################################################################
*/

:root {
    --color-primary: #212121;
    --color-primary-dark: #000000;
    --color-primary-light: #484848;
    --color-primary-text: #ffffff;

    --color-secondary: #ffccbc;
    --color-secondary-dark: #cb9b8c;
    --color-secondary-light: #ffffee;
    --color-secondary-text: #000000;

    --paper-width: 210mm;

    --spacing-size-large: 10mm;
    --spacing-size-normal: 5mm;
    --spacing-size-small: 2mm;

    --border-size: 0.2mm;
    --border-color: rgba(0, 0, 0, 0.2);
    --border-radius: 0mm;
}



* {
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*
##############################################################################
Material
##############################################################################
*/

.mr-card {
    border: var(--border-size) solid var(--border-color);
    padding: var(--spacing-size-normal);
}

.mr-card-header {
    margin-bottom: var(--spacing-size-normal);
}


.mr-chip-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.mr-chip {
    padding: 0.5mm var(--spacing-size-normal) 0.5mm var(--spacing-size-normal);
    border-radius: var(--border-radius);
    margin: 0.5mm;
    background: var(--color-secondary);
    color: var(--color-secondary-text);
}

.mr-chip:nth-child(even) {
    background: var(--color-secondary-dark);
}

/*
##############################################################################
Pages and Sections
##############################################################################
*/

.cv-page {
    max-width: var(--paper-width);
    margin: auto;
    border: 1px solid black;
}

.cv-page-content {
    padding: var(--spacing-size-large);
    padding-top: var(--spacing-size-normal);
}

.cv-section-header {
    text-align: center;
    padding: var(--spacing-size-small);
}

.cv-section-content {
    margin: var(--spacing-size-small);
}

/*
##############################################################################
Timelines
##############################################################################
*/

.cv-timeline {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 1mm;
}

.cv-timeline-time {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    text-align: right;
    text-transform: uppercase;
    background: var(--color-primary-light);
    color: var(--color-primary-text);
    padding: var(--spacing-size-normal);
}

.cv-timeline-event {
    grid-column: 2;
}

/*
##############################################################################
Headline
##############################################################################
*/

.cv-headline {
    display: grid;
    grid-template-rows: 1f auto;
}

.cv-headline-info {
    grid-row: 1;
    grid-column: 1;
    background: var(--color-primary);
    color: var(--color-primary-text);
    padding: var(--spacing-size-large)
             var(--spacing-size-normal)
             var(--spacing-size-normal)
             var(--spacing-size-large);
}

.cv-headline-contacts {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--color-primary-dark);
    color: var(--color-primary-text);
    padding: var(--spacing-size-large)
             var(--spacing-size-large)
             var(--spacing-size-normal)
             var(--spacing-size-normal);
}

/*
##############################################################################
Competences
##############################################################################
*/

.cv-competences {
    display: grid;
    grid-template-columns: 60mm 1fr;
    column-gap: var(--spacing-size-normal);
    row-gap: var(--spacing-size-small);
}

.cv-competence-area {
    text-align: right;
    margin: auto 0 auto 0;
}

.cv-competence-skills {
    margin: 0;
}


/*
##############################################################################
Experiences
##############################################################################
*/

.cv-experience-achievements {
    margin-bottom: var(--spacing-size-normal);
}

.cv-experience-achievement-results {
    list-style-type: none;
    padding: 0;
    font-style: italic;
}

/*
##############################################################################
Projects
##############################################################################
*/

.cv-project-description {
    margin-bottom: var(--spacing-size-normal);
}
