<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/b670e08959.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="cv.css">
</head>

<body>
<main class="cv-page">
    <%include file='headline.html'/>
    <%include file='competences.html'/>
    <%include file='experiences.html'/>
    <%include file='projects.html'/>
    <%include file='education.html'/>
</main>
</body>

</html>
