<%def name="format_date(date)">
    % if isinstance(date, str):
        ${date}
    % else:
        ${date.strftime('%Y %b')}
    % endif
</%def>

<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/b670e08959.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto Sans JP">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Maven Pro">
    <link rel="stylesheet" href="cv.css">
</head>

<body>

<div class="cv-banner">
    <%include file='metadata.html'/>
</div>

<main class="cv-page">

<div class="cv-page-intro">
    <%include file='headline.html'/>
</div>

<div class="cv-page-content">
    <%include file='competences.html'/>
    <%include file='experiences.html'/>
    <%include file='projects.html'/>
    <%include file='education.html'/>
</div>

</main>
</body>

</html>
