<section>

<h2 class="cv-section-header">
    <i class="fa-solid fa-building-columns"></i>
    <text>Education</text>
</h2>

<div class="cv-section-separator"></div>

% for edu in cv.education:

    <article class="cv-education cv-section-content">
        <h4 class="cv-education-title">${edu.degree} in ${edu.program} - ${edu.institution}</h4>
        <div class="cv-left-grid-dates">
            <text>${edu.start_date}</text>
            <text>${edu.end_date}</text>
        </div>
        <p class="cv-education-details">${edu.details}</p>
    </article>

% endfor

</section>