<section>

    <h2 class="cv-section-header">
    <i class="fa-solid fa-briefcase"></i>
    <text>Professional Experience</text>
</h2>

<div class="cv-section-separator"></div>

% for exp in cv.experiences:

    <article>

        <h4>${exp.title}, ${exp.company}, ${exp.country}</h4>
        <div>${exp.start_date} - ${exp.end_date}</div>

        <ul class="cv-experience-achievements">
        % for ach in exp.achievements:
            <li>
                <p>${ach.task}</p>
                <ul class="cv-experience-achievement-results">
                % for res in ach.results:
                    <li>${res}</li>
                % endfor
                </ul>
            </li>
        % endfor
        </ul>

        <ul class="cv-experience-skills">
        % for skill in exp.skills:
            <li>${skill}</li>
        % endfor
        </ul>

    </article>

% endfor

</section>