<%namespace name="lib" file="cv.html"/>

<section class="cv-section">

<h3 class="cv-section-header">
    <i class="fa-solid fa-briefcase"></i>
    <text>Professional Experience</text>
</h3>

% for exp in cv.experiences:

<article class="cv-experience cv-timeline cv-section-content">

<div class="cv-timeline-time">
    <text>${lib.format_date(exp.end_date)}</text>
    <text>${lib.format_date(exp.start_date)}</text>
</div>

<div class="mr-card cv-timeline-event">

    <div class="mr-card-header">
        <h4>${exp.title}</h4>
        <h5 class="cv-experience-subtitle">
            <i class="fa-solid fa-building"></i> ${exp.company}
        </h5>
        % if exp.consulting_company is not None:
        <h5 class="cv-experience-subtitle">
            <i class="fa-solid fa-file-contract"></i> ${exp.consulting_company}
        </h5>
        % endif
        <h5 class="cv-experience-subtitle">
            <i class="fa-solid fa-location-dot"></i> ${exp.country}
        </h5>
    </div>

    <div class="mr-card-content">

        <ul class="cv-experience-achievements">
        % for ach in exp.achievements:
            <li><p>
                <span class="cv-experience-achievement-task">${ach.task}</span>
                <span class="cv-experience-achievement-result">${ach.result}</span>
            </p></li>
        % endfor
        </ul>

        <ul class="mr-chip-list">
        % for skill in exp.skills:
            <li class="mr-chip">${skill}</li>
        % endfor
        </ul>

    </div>

</div>

</article>

% endfor

</section>