<!DOCTYPE html>
<html>

<head>
    <script src="https://kit.fontawesome.com/b670e08959.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="cv.css">
</head>

<body>
<main class="cv-page">
    <section class="cv-headline">
    <h1 class="cv-headline-name">Raffaello Baluyot</h1>
    <div class="cv-headline-contacts">
        <a href="https://www.linkedin.com/in/baluyotraf/">
            <i class="fa-brands fa-linkedin"></i>
            <text>baluyotraf</text>
        </a>
        <a href="https://github.com/baluyotraf">
            <i class="fa-brands fa-github"></i>
            <text>baluyotraf</text>
        </a>
        <span>
            <i class="fa-solid fa-mobile"></i>
            <text>+46760215374</text>
        </span>
        <span>
            <i class="fa-solid fa-envelope"></i>
            <text>baluyotraf@outlook.com</text>
        </span>
        <span>
            <i class="fa-solid fa-location-dot"></i>
            <text>Gothenburg, Sweden</text>
        </span>
    </div>

    <h2 class="cv-headline-tagline">Software + Machine Learning | Turning great research ideas to production quality software</h2>
    <p class="cv-headline-summary">A machine learning engineer who is proficient in Deep Learning, Machine Learning, and Software Engineering. A open-source contributor with minor contributions to several data libraries such as Scikit-Learn, Pandas-Profiling, PyGMO, etc. A highly curious individual that engages in research and academic works.</p>
</section>
    <section>

<h2 class="cv-section-header">
    <i class="fa-solid fa-code"></i>
    <text>Competences</text>
</h2>

<div class="cv-section-separator"></div>

<article class="cv-competences cv-section-content">


    <h4 class="cv-competence-area">Programming Languages</h4>
    <ul class="cv-competence-skills">
        <li>Python</li>
        <li>Kotlin</li>
        <li>Bash</li>
        <li>C</li>
        <li>C++</li>
        <li>SQL</li>
    </ul>


    <h4 class="cv-competence-area">Data Science libraries</h4>
    <ul class="cv-competence-skills">
        <li>Tensorflow</li>
        <li>Scikit-Learn</li>
        <li>Pandas</li>
        <li>Numpy</li>
    </ul>


    <h4 class="cv-competence-area">Big Data Platforms</h4>
    <ul class="cv-competence-skills">
        <li>Spark</li>
        <li>Sun Grid Engine</li>
        <li>Azure ML</li>
    </ul>


    <h4 class="cv-competence-area">Data Stores</h4>
    <ul class="cv-competence-skills">
        <li>Azure Blob Storage</li>
        <li>HDFS</li>
        <li>MySQL</li>
        <li>SQL Server</li>
        <li>PostgreSQL</li>
        <li>Redis</li>
    </ul>


    <h4 class="cv-competence-area">Deployment and Platforms</h4>
    <ul class="cv-competence-skills">
        <li>Git</li>
        <li>Linux</li>
        <li>Docker</li>
        <li>GilabCI</li>
        <li>Ansible</li>
    </ul>


</article>

</section>
    <section class="cv-section">

<h2 class="cv-section-header">
    <i class="fa-solid fa-briefcase"></i>
    <text>Professional Experience</text>
</h2>


<article class="cv-experience cv-timeline cv-section-content">

<div class="cv-timeline-time">
    <text>present</text>
    <text>2022-06-01</text>
</div>

<div class="mr-card cv-timeline-event">

    <div class="mr-card-header">
        <h4>Embedded Machine Learning Engineer</h4>
        <h5>Autoliv AB, Sweden</h5>
    </div>

    <div class="mr-card-content">

        <ul class="cv-experience-achievements">
            <li>
                <p class="cv-experince-achievement-task">Researched and developed a classifier for escooter rider interaction with the handle bar.</p>
                <ul class="cv-experience-achievement-results">
                    <li>Research team used the model to perform behavior analysis on the rider.</li>
                </ul>
            </li>
            <li>
                <p class="cv-experince-achievement-task">Designed and developed an Android App and Android SDK for collecting research data.</p>
                <ul class="cv-experience-achievement-results">
                </ul>
            </li>
            <li>
                <p class="cv-experince-achievement-task">Researched analytical and machine learning algorithms for crash detection.</p>
                <ul class="cv-experience-achievement-results">
                </ul>
            </li>
        </ul>

        <ul class="mr-chip-list">
            <li class="mr-chip">Python</li>
            <li class="mr-chip">Kotlin</li>
            <li class="mr-chip">Tensorflow</li>
            <li class="mr-chip">Azure Functions</li>
            <li class="mr-chip">Docker</li>
            <li class="mr-chip">SQL Server</li>
            <li class="mr-chip">Azure ML</li>
            <li class="mr-chip">Azure Devops</li>
            <li class="mr-chip">Android</li>
            <li class="mr-chip">Jetpack Compose</li>
        </ul>

    </div>

</div>

</article>


<article class="cv-experience cv-timeline cv-section-content">

<div class="cv-timeline-time">
    <text>2022-05-01</text>
    <text>2021-10-01</text>
</div>

<div class="mr-card cv-timeline-event">

    <div class="mr-card-header">
        <h4>Machine Learning Engineer</h4>
        <h5>Volvo AB, Sweden</h5>
    </div>

    <div class="mr-card-content">

        <ul class="cv-experience-achievements">
            <li>
                <p class="cv-experince-achievement-task">Researched and developed a classifier for escooter rider interaction with the handle bar.</p>
                <ul class="cv-experience-achievement-results">
                    <li>Research team used the model to perform behavior analysis on the rider.</li>
                </ul>
            </li>
            <li>
                <p class="cv-experince-achievement-task">Designed and developed an Android App and Android SDK for collecting research data.</p>
                <ul class="cv-experience-achievement-results">
                </ul>
            </li>
            <li>
                <p class="cv-experince-achievement-task">Researched analytical and machine learning algorithms for crash detection.</p>
                <ul class="cv-experience-achievement-results">
                </ul>
            </li>
        </ul>

        <ul class="mr-chip-list">
            <li class="mr-chip">Python</li>
            <li class="mr-chip">Kotlin</li>
            <li class="mr-chip">Tensorflow</li>
            <li class="mr-chip">Azure Functions</li>
            <li class="mr-chip">Docker</li>
            <li class="mr-chip">SQL Server</li>
            <li class="mr-chip">Azure ML</li>
            <li class="mr-chip">Azure Devops</li>
            <li class="mr-chip">Android</li>
            <li class="mr-chip">Jetpack Compose</li>
        </ul>

    </div>

</div>

</article>


</section>
    <section class="cv-section">

<h2 class="cv-section-header">
    <i class="fa-solid fa-desktop"></i>
    <text>Projects</text>
</h2>


<article class="cv-project cv-timeline cv-section-content">

<div class="cv-timeline-time">
    <text>2021-07-01</text>
    <text>2021-06-01</text>
</div>

<div class="mr-card cv-timeline-event">
    <div class="mr-card-header">
        <h4>Rock Size Distribution</h4>
    </div>

    <div class="mr-card-content">
        <p class="cv-project-description">A commission project to demonstrate the calculation of the rock sizes during the mining process. Sieving the rocks is considered a more accurate approach to determine the rock size, however it is not scalable for large mining operations. The idea is to present a possible alternative using computer vision.</p>

        <ul class="mr-chip-list">
                <li class="mr-chip">Python</li>
                <li class="mr-chip">Tensorflow</li>
                <li class="mr-chip">OpenCV</li>
                <li class="mr-chip">Scikit-Image</li>
        </ul>
    </div>

</div>

</article>


</section>
    <section class="cv-section">

<h2 class="cv-section-header">
    <i class="fa-solid fa-building-columns"></i>
    <text>Education</text>
</h2>


<article class="cv-education cv-timeline cv-section-content">

<div class="cv-timeline-time">
    <text>2010-07-01</text>
    <text>2015-09-01</text>
</div>

<div class="mr-card cv-timeline-event">

    <div class="mr-card-header">
        <h4>Masters Degree in Computer Engineering</h4>
        <h5>Mapua Institute of Technology</h5>
    </div>

    <div class="mr-card-content">
        <p class="cv-education-details">Master program in Mapua on computer engineering.</p>
    </div>

</div>

</article>


</section>
</main>
</body>

</html>
